body {
    background-image: url("img/faded-office.png");
    background-size: cover;
    margin: 80px 0 0 40px;
    font-family: "Open Sans", sans-serif;
    color: #020202;
}

#title {
    font-weight: 900;
    font-size: 55px;
}

#description {
    font-size: 27px;
    font-weight: 550;
}

.underline {
    border-bottom: 6px solid #0ea5e9;
}

#btn {
    border: 0px;
    background-color: #0ea5e9;
    margin-top: 15px;
    padding: 20px 40px;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
}
